button {
    background-color: #282c34;
    color: white;
    border: 1px solid rgb(172, 148, 168);
    padding: 1vh;
    font-weight: bold;
    margin-left: 1vh;
}
.active{
    background-color: rgb(183, 167, 180);
    font-weight: bolder;
}
button:hover{
    border: 1px solid rgb(171, 133, 165);
    background-color: rgb(183, 167, 180);
    box-shadow: 1px 1px 2px rgb(96, 76, 93);
}